<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5" />
	<meta name="author" content="AdminKit" />
	<meta name="keywords"
		content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web" />

	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<!-- <link rel="shortcut icon" href="img/icons/icon-48x48.png" /> -->

	<link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-in.html" />

	<!-- Icon -->
	<!-- <link rel="icon" href="http://example.com/favicon.png"> -->
	<title>CardName</title>

	<!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
	<!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

	<link rel="stylesheet" href="/bootstrap/css/bootstrap.icon.css" />
	<link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">

	<link rel="stylesheet" href="/css/Edit.css"/>
	<link rel="stylesheet" href="/css/modal.css"/>
	<link rel="stylesheet" href="/css/scrollbar.css"/>
	<link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
	<link rel="stylesheet" href="/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">

	<!-- <link rel="stylesheet" href="/css/webcam.css"> -->




	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
</head>

<body>


	<!-- form Change Password-->

	<div class="modal fade" role="dialog" tabindex="-1" id="modalChangePass">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">เปลี่ยนรหัสผ่าน</h4>
					<button type="button" class="close" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
				</div>
				<div class="modal-body text-center">

					<div class="input-group">
						<span class="input-group-text m-0">รหัสผ่านใหม่</span>
						<input type="password" aria-label="First name" id="IP-CardPass" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary no" type="button">ยกเลิก</button>
					<button class="btn btn-success btnYes" id="btnChangePass" type="button">ยืนยัน</button>
				</div>
			</div>
		</div>
	</div>

	<!-- form webcam -->
	<div class="modal fade" role="dialog" tabindex="-1" id="modalWebcam">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Camera</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"
						onclick="closeCamera();"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body text-center ">
					<div class="camera-box center-box">
						<div id="camera"></div>
						<div class="camera-line">
							<div id="results"></div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="closeCamera();">ยกเลิก</button>
					<button class="btn btn-danger btnYes" id="btnTake" type="button" onclick="take_snapshot()">ถ่ายภาพ</button>
					<button class="btn btn-danger btnYes" id="btnSet" type="button" onclick="setCamera()">ถ่ายใหม่</button>
					<button class="btn btn-danger btnYes" id="btnSave" type="button" data-dismiss="modal">บันทึก</button>

				</div>
			</div>
		</div>
	</div>



	<nav class="sidebar">
		<ul>
			<li>
				<!-- <i class="fa-brands fa-facebook-square"></i> -->

				<a class="" href="/"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
					<p>หน้าแรก</p>
				</a>
			</li>

		</ul>
	</nav>

	<div class="main-content">
		<div class="container-fluid">
			<div class="row ">
				<div class="col-12 col-s-12 col-md-5 col-xl-5 col-xxl-6 left d-flex ">
					<div class="box">
						<div class="form-title edit-card mb-3">
							<h2 class="">แก้ไขการ์ด</h2>
							<div class="btn-group">
								<!-- <div class="btn-group center-box ma-10"> -->
								<button class="btn btn-sm btn-success " id="EditCard"><i class="fa fa-floppy-o" aria-hidden="true"></i>
									การ์ด</button>
								<!-- <button class="btn btn-sm btn-primary m-0" id =""><i class="bi bi-arrow-clockwise"></i></button> -->
								<!-- </div> -->
							</div>

						</div>

						<div class="d-flex justify-content-center align-item-center mb-2">
							<div class="input-group me-2">
								<span class="input-group-text m-0">ชื่อ</span>
								<input type="text" id="IP-fname" class="form-control" placeholder="ชื่อ">
							</div>
							<div class="input-group">
								<span class="input-group-text m-0">นามสกุล</span>
								<input type="text" id="IP-lname" class="form-control" placeholder="นามสกุล">
							</div>
						</div>

						<!-- <div class="input-group">
							<span class="input-group-text">ที่อยู่</span>
							<input type="text" class="form-control">
						</div> -->
						<div class="input-group mb-2">
							<span class="input-group-text m-0">เบอร์มือถือ</span>
							<input type="text" id="IP-Tel" class="form-control" placeholder="ใส่เบอร์มือถือ">
						</div>
						<div class="input-group mb-2">
							<span class="input-group-text m-0">บริษัท</span>
							<input type="text" id="IP-Company" class="form-control" placeholder="ชื่อบริษัท">
						</div>
						<a href="http://"></a>
						<div class="input-group mb-2">
							<span class="input-group-text m-0">Email</span>
							<input type="text" id="IP-Email" class="form-control" placeholder="example@email.com">
						</div>
						<div class="input-group mb-2">
							<span class="input-group-text m-0">Line ID</span>
							<input type="text" id="IP-LineID" class="form-control" placeholder="example">
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text m-0">Facebook</span>
							<input type="text" id="IP-FacebookLink" class="form-control" placeholder="https://www.facebook.com/">
						</div>


						<div class="btn-group btn-group-sm w-100 mb-3">
							<button class="btn btn-primary m-0 " id="ChangePass"><i class="fa-solid fa-lock"></i>
								เปลี่ยนรหัสผ่าน</button>
						</div>

						<div class="mb-3 profile-image">
							<label for="formFile" class=" form-title mb-3">
								<h4 class="m-0">รูปโปรไฟล์</h4>
								<button class="btn btn-sm btn-success m-0" id="btnConfirmImg"><i class="fa fa-floppy-o"
										aria-hidden="true"></i> รูปภาพ</button>
							</label>

							<div class="d-flex-center h-max mb-3">
								<div class="camera-line2">
									<img id="mobileImg" src="#" alt="your image" />
									<div class="form-imgInp">
										<label for="imgInp" style="text-align: center;" data-bs-toggle="tooltip" title="รูปภาพขนาด 320x240">
											<i class="fa-solid fa-image"></i>
											<input type='file' accept="image/*" capture="camera" id="imgInp" />
										</label>
									</div>
								</div>
							</div>
						</div>



						<div class="btn-group d-flex-center">
							<button class="btn btn-sm btn-primary m-0" id="publish">เผยเเพร่การ์ด</button>
						</div>
						<div class="btn-group d-flex-center">
							<button class="btn btn-sm btn-danger m-0 hide" id="unpublish">ยกเลิกเผยเเพร่การ์ด</button>
						</div>

						<div class="share-group " id="share-group">
							<div class="input-group mb-3">
								<span class="input-group-text border-0 fs-5 bg-white">link:&nbsp;<a class="copyLink" href=""></a></span>
								<!-- <input type="text" class="form-control border-0  copyLink bg-white" disabled/> -->
								<!-- <button onclick="copyToclip()" class = "btn btn-primary m-0"><i class="fa fa-clipboard" aria-hidden="true"></i></button> -->
							</div>
							<label class="input-group-text border-0 px-0 mb-2 bg-white">เเชร์การ์ด</label>
							<div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="share_button" data-a2a-url="#">
								<!-- <a class="a2a_dd" href="https://www.addtoany.com/share"></a> -->
								<a class="a2a_button_facebook"></a>
								<a class="a2a_button_line"></a>
								<a class="a2a_button_facebook_messenger"></a>
								<a class="a2a_button_email"></a>
								<a class="a2a_button_google_gmail"></a>
							</div>
						</div>


					</div>

				</div>

				<!-- Show Card -->
				<div class="col-12 col-s-12 col-md-7 col-xl-7 col-xxl-6 right " id="zoomable">
					<%- include('./partials/pre-box.ejs'); %>

				</div>
			</div>
		</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script async src="https://static.addtoany.com/menu/page.js"></script>
	<!-- <script src="/bootstrap/js/bootstrap.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>

	<script src="/js/webcam.js"></script>
	<script src="/editCard.js"></script>
	<script src="/js/mobileCamera.js"></script>
	<!-- <script src="/fontawesome/js/solid.js"></script>
	<script src="/fontawesome/js/brands.js"></script> -->

	<!-- <script src="/js/test.js"></script> -->
</body>

</html>