<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Priva Card - Error</title>
    <link rel="stylesheet" href="/css/cardAuth.css" />
  </head>

  <body>
    <div class="header">
      <h4>Priva Digital Card</h4>
      <h1>LOGO</h1>
    </div>
    <div class="main text-center">
      <main class="content">
        <div class="container-error">
          <h4 id="error">ERROR</h4>
          <% if (messages.error) { %>
          <p><%= messages.error %></p>
          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
