<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Login</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">

</head>

<body>
  <div class="center">
    <h1>Login</h1>
    <form action="/user/login" method="post">
      <div class="txt_field">
        <input type="text" name="CardName" required>
        <span></span>
        <label>Username</label>
      </div>
      <div class="txt_field">
        <input type="password" name="CardPass" required>
        <span></span>
        <label>Password</label>
      </div>
      <input type="submit" value="Login">
      <div class="signup_link">
        Not a member? <a href="/register">Sign up</a>
      </div>
      <% if (messages.login) { %>
        <div class="alert alert-danger mt-2" role="alert"><%= messages.login %></div>
      <% } %>
    </form>
  </div>

  <!-- <div class="main">
    <div class="text-center mt-4">
      <h1 class="lead">Sign in to continue</h1>
    </div>

    <form action="/user/login" method="post">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control form-control-lg" type="text" name="Username" placeholder="Enter your Username" />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control form-control-lg" type="password" name="Password" placeholder="Enter your password" />
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
        <a href="/register" class="btn btn-lg btn-success">Sign up</a>
      </div>
      <% if (messages.login) { %>
        <div class="alert alert-danger mt-2" role="alert">
          <%= messages.login %>
        </div>
        <% } %>
    </form>
  </div> -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>