<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Register</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body >
  <!-- style="background: linear-gradient(190deg,#e0dac1, #e6af5d)" -->

  <div class="center">
    <h3>ลงทะเบียนบัญชีใหม่</h3>
    <form action="/user/register" method="post">
      <div class="txt_field">
        <input type="text" name="CardName" required>
        <span></span>
        <label>ชื่อผู้ใช้</label>
      </div>
      <div class="txt_field">
        <input type="password" name="CardPass" required>
        <span></span>
        <label>รหัสผ่าน</label>
      </div>
      <input type="submit" id="signUp" value="ลงทะเบียน">
      <div class="signup_link">
        ไปยังหน้า <a href="/login">ลงชื่อเข้าใช้</a>
      </div>
      <% if (messages.null) { %>
        <div class="alert alert-danger mt-2" role="alert">
          <%= messages.null %>
        </div>
      <% } %>
      <% if (messages.register) { %>
        <div class="alert alert-danger mt-2" role="alert">
          <%= messages.register %>
        </div>
      <% } %>
      <% if (messages.success) { %>
        <div class="alert alert-success mt-2" role="alert">
          <%= messages.success %>
        </div>
      <% } %>
      <% if (messages.error) { %>
        <div class="alert alert-danger mt-2" role="alert">
          <%= messages.error %>
        </div>
      <% } %>
    </form>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <script src="/js/bootstrap.min.js"></script>
  
</body>

</html>