.header {
    background-color: #000;
    color: #aaa;
    position: fixed;
    top: 0;
    left: 0;

    /* padding: 5px 20px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #aaa;
}

.header h4 {
    padding: 10px 20px;
    margin: 0;
}

.logo-priva {
    background-color: #fff;
    height: 100%;
    padding: 10px 20px;
    border: 3.5px solid #000;
    border-radius: 2px;
}

.container-mt{
    margin-top: 6vw;
    margin-bottom: 8vw;
}
 
.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    gap: 7em;
}

.main .text-center p{
    /* font-size: 32px; */
    margin: 0;
    padding: auto;
    /* height: 5vw; */
    width: 20vw;
}

.lead {
    font-size: 2em;
}

@media only screen and (max-width: 1030px) {
    .container-mt{
        margin-top: 12vw;
    }

    .main .text-center p{
        font-weight: 400;
        width: 30vw;
    }
}

@media only screen and (max-width:770px) {
    .main {
        gap: 5em;
    }

    .container-mt{
        margin-top: 17vw;
    }

    .main .text-center p{
        font-weight: 400;
        width: 30vw;
    }

    .lead {
        font-size: 1.7em;
    }

    #cookiePopup{
        width: 60vw;
    }

    #cookiePopup>.modal-dialog>.modal-content {
        border-radius: 0.8em;
    }
}

@media only screen and (max-width:430px) {

    .main {
        gap: 3em;
    }

    .container-mt{
        margin-top: 25vw;
    }

    .main .text-center p{
        font-weight: 600;
        width: 35vw;
    }

    .lead {
        font-size: 1em;
    }

    #cookiePopup{
        width: 90vw;
        position: fixed;
        top: -50%;
        left: 52.5%;
        
    }

    #cookiePopup>.modal-dialog>.modal-content {
        border-radius: 0.6em;
    }

    .popup-body h6,.popup-footer span,.popup-footer button{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width:380px) {
    .main {
        gap: 2em;
    }

    .container-mt{
        margin-top: 28vw;
    }
}

@media only screen and (max-width:325px) {
    .main {
        gap: 1em;
    }

    .container-mt{
        margin-top: 30vw;
    }

    .main .text-center p{
        width: 40vw;
    }

    .lead {
        font-size: 0.9em;
    }
}