* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fix {
    position:fixed;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background: #2d2e2e;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar:hover{
    background-color: rgb(0, 68, 255);
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    font-weight: 700;
    padding-top: 0;
}

.sidebar ul li span {
    display: block;
    color: #fff;
    padding: 16px;
    font-size: 30px;
    padding-bottom: 0;
}

.main-content {
    margin-left: 100px;
    padding: 0;
    height: 120vh;
}

.left {
    padding: 20px;
    background: rgb(56, 56, 56);
    width: 100%;
    min-height: 120vh;
    display: flex;
}
.right {
    padding: 20px 0;
    background: rgb(236, 235, 235);
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box {
    width: 100%;
    /* height: auto; */
    background: #fff;
    border-radius: 2.5%;
    padding: 20px;
}

.input-group span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}



.box-pre {
    width: 80%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    position: relative;
    
}

.pre-title {
    padding: 3px 10px;

    color: #fff;
    background: #007bff;
    border-radius: 4px;
    position: absolute;
    left: 45%;
}

.pad-3 {
    padding: 3px;
}

.share-group{
    margin-top: 10px;
}

.share-group label{
    font-size: 0.9rem;
}

.box-pre .background {
    background: #2d2e2e;
    width: 100%;
    height: 30%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}


.box-pre  .logo {
    background: #95e0e0;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 20px;
    right: 10px;
}

/* Photo */

.box-pre  .character {
    background: #95e0e0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden ;

    bottom: -100px;
    left: 20px;

}

.character a {
    font-size: 300%;
    text-align: center;
    
}

.character a i#icon-camera{
    visibility: visible;
    z-index: 10;
    position: absolute;
    top: 40%;
    left: 37%;

}

.character a:hover i#icon-camera{
    color: white;
    z-index: -10;
    
}

.box-pre .box-name {
    /* background: #275757; */
    width: 60%;
    height: 20%;
    position: absolute;
    right: 0;
    padding: 15px;

}

.box-pre  .box-link {
    /* background: #95e0e0; */
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ma-10{
    margin-bottom: 10px;
}

.social a {
    text-decoration: none
}

#IP-MobileCamera{
    padding: 0px;
    height: 32px;
}

@media only screen and (max-width:768px) {
    *{
        font-size: 0.7rem;
    }
    
	.sidebar {
        margin: 4px;
        width: 70px;
        height: 70px;
        font-size: 25%;
        border-radius: 50%;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
    }

    
    .sidebar ul li a p{
        display: none;
    }


    .main-content {
        margin-left: 0;
    }

    .box-pre  .character {
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: -40px;
    }

    
    
    #Show-Img{
        width: 160px;
        height: 120px;
    }

    .character a {
        /* font-size: 60%; */
        text-align: center;
        
    }
    
    .character a i#icon-camera{
        /* width: 50px;
        height: 50px; */
        visibility: hidden;
        position: absolute;
        top: 42%;
        left: 37%;
    
    }
    
    #IP-MobileCamera{
        height: 25px;
    }

    button.close span{
        font-size: 2rem;
    }

    
}

