.box-pre {
    width: 80%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    position: relative;
}

.main-content {
    margin: 0;
    padding: 0;
    height: 120vh;
    background-color: rgba(19, 19, 19, 0.753);
}

.right{
    background-color: transparent;
    height: 120vh;
}

.form-control:read-only{
    background-color: #fff;
}
