*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#camera{
    position: relative;
    width: 320px;
    height: 240px;
    margin: 10px;
    z-index: 2;

}

#camera-line{
    width: 220px;
    height: 220px;
    border: 3px solid rgb(89, 255, 47);
    margin: 10px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    overflow: hidden ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#results{
    position: relative;
    z-index: 1;
}


.cropped1 {
    object-fit: cover;
}

button{
    padding: 2px;
    margin: 10px;
}